/* estilos.css */

*{
	margin: 0;
	padding:0;
	box-sizing: border-box;	
}


body{
	background-color: #F8F9FA;
	font-family: 'Montserrat', sans-serif;
}

.titulos{
	text-align: center;
	padding: 40px;
}


}
.contenedor{
	margin: auto;
	
}

.contenedor-barra-superior{
	background-color: #3c4049;
}


.barra-superior{
	max-width: 90%;
	margin: auto;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	
}


.barra-superior-rrss a{
	margin-top: 10px;
	margin-left: 20px;

}


.barra-superior-registro a{
	margin-top: 10px;
	margin-left: 20px;	
	font-size: 12px;
	color: #ff3276;
	text-decoration: none;			
}


.cabecera{
	height: 300px;
	margin-bottom: 30px;
	background-color: white;
	-webkit-box-shadow: 9px 7px 22px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 9px 7px 22px -9px rgba(0,0,0,0.75);
	box-shadow: 9px 7px 22px -9px rgba(0,0,0,0.75);
	display: flex;
	flex-direction: column;

}


.logo{
	margin: auto;
	margin-bottom: 20px;
	justify-content: center;

}

.toggle{
	display: none;
}

.menu{	
	max-width: 100%;
	height: 50px;
	margin: auto;	
}


.menu-principal{
	font-weight: bold;	
	margin-top: 5px;
	
}


.menu-principal li:hover{
	border-bottom: 3px solid darkgrey;	

}

.menu-principal a:hover{
	color: #ff3276 ;
}

.submenu {
	position: relative;

}
.submenu:hover .menu-modelos{
	display: flex;
}


.menu-modelos{
	padding-top: 10px;
	position: absolute;
	left:0;
	display: none;

	flex-direction: column;	
}


.menu-modelos li{
	border-bottom: 1px solid gray;	
}


.menu li{	
	padding: 5px 40px;	
	list-style-type: none;
	display: inline;
	background-color: white;
	left:0;				
}


.menu a{
	text-decoration: none;
	color: black;	
}


.banner{
	margin: auto;
	text-align: center;		
}

.contenedor-contactanos{
	display: flex;
	justify-content: center;
	
}

.contenedor-direccion{
	width: 40%;
	display: flex;
	flex-direction: column;
	
}

.direccion{
	width: 100%;
	padding: 20px;
	flex-grow: 1;
	
}

.direccion h5 {
	font-size: 18px;
	padding: 10px;
		
}

.direccion p{
	padding: 5px;
	font-size: 16px;	
}

.mapa{
	width: 100%;
	margin-bottom: 50px;	
	border: 1px solid black;
	border-radius: 3px;
}

.mapa iframe{
	width: 100%;
	overflow: hidden;	

}

/* ------Comienzo Formulario 
de la pagina contacto
 ------------------------- */

.contenedor-formulario{
	width: 50%;	
	display: flex;
	align-content: center;
}

.formulario{
	width: 100%;	
	margin: auto;
	padding-left: 120px;
	display: block;

}


form label{	
	width: 500px;
	padding: 10px;
	display: block;
	font-size: 16px;
	font-weight: bold;
	flex-grow: 1;
	
}

form input{
	width: 500px;
	margin-left: 20px;
	margin: auto;
	padding: 10px;
	border: 1px solid black;
	border-radius: 3px;
}

form textarea{
	width: 500px;
	height: 200px;
	border: 1px solid black;
	border-radius: 3px;
}

.formulario [type="submit"]{
	width: 120px;
	background-color: #ff3276;
	display: block;
	border: none;
	color: white;
	font-size: 16px;
	
}


/* -----Fin Formulario 
----------------------*/

/* Inicio mision-vision
----------------------*/

.mision-vision{
	max-width: 70%;
	height: 500px;
	margin: auto;
	
}

.mision-vision h3{
	padding: 10px;
	font-size: 24px;
	text-align: center;
}

.mision-vision p{
	padding: 10px;
	padding-bottom: 0px;
	line-height: 36px;
}


.contenedor-modelos{
	max-width: 100%;
	margin: auto;

}


.modelos{
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
  	justify-content: center;	
}


.modelo-zapato{
	width: 250px;
	height: 250px;
	margin: 20px 20px;;
	text-align: center;
}


.modelo-zapato:hover{
	 background-color: gray;
}

.suscripcion{
	max-width: 90%;
	margin: auto;
	border-top: 1px solid darkgray;
	display: flex;
	justify-content: center;
}

/*--------- Sandalias
---------------------*/
.contenedor-sandalias{
	margin: auto;
	display: flex;
	justify-content: center;
}

/*----------Filtros----
--------------------------*/

h3{
	padding: 10px;
}

.filtros-zapatos{
	width: 30%;	
	margin-left: 100px;

}

.ordenar{
	width: 300px;
	padding: 10px;
	text-align: left;
	border-bottom:1px solid darkgray;
	padding-bottom: 30px;
}

.orden{
	width: 250px;
	padding: 10px;
}

.colores{
	width: 300px;
	padding: 10px;
	text-align: left;
	border-bottom:1px solid darkgray;
	padding-bottom: 30px;
}

.color{	
	border-radius: 5px;	
	display: flex;
	justify-content: space-around;
}

.color1{
	width: 25px;
	height: 25px;
	background-color: black;
	border-radius: 3px;
	display: inline-block;
}

.color2{
	width: 25px;
	height: 25px;
	background-color: white;
	border: 1px solid black;
	border-radius: 3px;
	display: inline-block;
}
.color3{
	width: 25px;
	height: 25px;
	border-radius: 3px;
	background-color: gray;
	display: inline-block;
}

.color4{
	width: 25px;
	height: 25px;
	border-radius: 3px;
	background-color: red;
	display: inline-block;
}


.mas-colores{
	width: 300px;
	padding: 10px;
	padding-bottom: 30px;
	text-align: left;
	border-bottom:1px solid darkgray;
}

.mascolor p{
	width: 100px;
	border-radius: 3px;
	text-align: center;
	color: black;
	border: 1px solid black;
}

.tallas{
	padding-bottom: 30px;

}

.talla1{
	width: 25px;
	height: 25px;
	background-color: white;
	border: 1px solid black;
	border-radius: 3px;
	display: inline-block;
}

.talla2{
	width: 25px;
	height: 25px;
	background-color: white;
	border: 1px solid black;
	border-radius: 3px;
	display: inline-block;
}
.talla3{
	width: 25px;
	height: 25px;
	background-color: white;
	border: 1px solid black;
	border-radius: 3px;
	display: inline-block;
}

.talla4{
	width: 25px;
	height: 25px;
	background-color: white;
	border: 1px solid black;
	border-radius: 3px;
	display: inline-block;
}

.talla5{
	width: 25px;
	height: 25px;
	background-color: white;
	border: 1px solid black;
	border-radius: 3px;
	display: inline-block;
}

.tallas p{
	padding: 5px;
	font-size: 12px;
	text-align: center;
}




/*-------Fin de filtros
-------------------------*/


.sandalias{
	max-width: 70%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;	
  	justify-content: center;
  	border:1px solid pink;
}

.modelo-sandalia{
	margin: 10px 10px;
	
}

.contenido-modelo-sandalia{
	width: 180px;
	height: 150px;
	border: 1px solid red;

}

.descripcion{
	width: 180px;
	padding: 20px;	
	border: 1px solid red;
	display: block;
	overflow: hidden;

}




/*--------- Newsletter 
------------------------ */

.newsletter{
	max-width: 100%;
	flex-grow: 1;	
}


.newsletter h4{
	width: 300px;
	margin-top: 30px;
	margin-bottom: 10px;
	display: block;
}

.newletter .sobre{
	position: absolute; 
}



.newsletter-form [type="email"]{
	width: 400px;
	height: 40px;
	margin: auto;
	margin-bottom: 30px;
	border: 1px solid darkgray;	
	
}


.newsletter-form [type="submit"]{
	width: 120px;
	padding: 10px ;
	background: none;
	border: none;
	background-color: #ff3276;
	color: white;
	font-size: 16px;
	display: inline;
}

/* ----- Fin Newsletter ------- */


footer{
	background-color: #3c4049;	
}


.contenido-pie{
	max-width: 90%;
	margin: auto;
	display: flex;	
}


.info-empresa{
	max-width: 30%;
	margin-top: 40px;
	margin-bottom: 20px;
	margin-left: 30px;
	color: white;
	font-size: 16px;
	flex-grow: 1;
}


.rrss{
	max-width: 30%;
	margin-top: 40px;
	margin-bottom: 30px;
	padding-left: 10px;	
	color: white;
	flex-grow: 1;
	text-align: center;	
}

.rrss a{
	margin-right: 10px;
}

.rrss img{
	width: 30px;
}


.rrss h5{
	font-size: 16px;
	margin-bottom: 20px;
}


.creditos{
	max-width: 40%;
	margin-top: 40px;
	margin-bottom: 30px;
	padding-top: 100px;
	padding-left: 10px;
	color: white;
	font-size: 14px;
	text-align: right;
	flex-grow: 1;
			
}



/* ------------Media Queries
--------------------------- */


@media (max-width: 768px){

	.barra-superior{
		padding: 20px;
	}

	.barra-superior-rrss a{
		display: none;
	}

	.barra-superior-registro{
		display: none;
	}

	.cabecera{
		height: 200px;
	}

	.toggle{
		display: block;
		position: absolute;
	}

	.menu-principal{		
		background-color: rgba(192,192,192,0.9);
	}

	.menu-principal li{
		width: 400px;
		padding: 10px;
		border: 0.5px solid white;
		text-align: center;

		
	}

	.menu-principal a{
		text-decoration: none;
		color: black;
		font-size: 20px;
	}

	#boton {
		padding: 5px;
		background: none;
		border: none;		
	}

	.menu-principal{
		display: none;
	}

	.mostrar{
		display: block;
	}


	.banner{
		display: none;
	}

	.modelos{
		justify-content: center;
		
	}

	.contenedor-formulario{
		max-width: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;	
	}


	.direccion{
		width: 100%;
		text-align: center;
	}



	.formulario{
		width: 100%;	
	}

	.mapa{
		width: 100%;
		height: 200px;
	}

	.suscripcion{
		width: 100%;
		margin: auto;

	}


	.newsletter{
		max-width: 300px;
		
	}


	.newsletter h4{
		width: 100%;
		margin: auto;
		margin-top: 10px;
		margin-bottom: 10px;
	}



	.newsletter-form [type="email"]{
		width: 280px;
		height: 40px;
		margin: auto;
		margin-bottom: 5px;
		border: 1px solid darkgray;

	}


	.newsletter-form [type="submit"]{
		margin-bottom: 20px;
		border: none;
		background-color: rgba(255,0,132,1);
		color: white;
		font-size: 14px;

	}

	
	.contenido-pie{
		max-width: 100%;
		flex-direction: column;	
		text-align: center;
		border-bottom: 1px solid white;
		display: flex;
		align-items: center;
		font-size: 8px;
		border-bottom: 1px solid white;
		
	}

	.info-empresa{
		max-width: 100%;
		margin: 20px auto;
	}

	.rrss{
		max-width: 100%;
		margin: 20px auto;
		border: none;
	}

	
	.creditos{
		max-width: 100%;
		margin: auto;
		border: none;
		padding: 20px;
		text-align: center;
	}

	.modelo-zapato{
		width: 100%;		
	}

}


